<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ParentTable" value="woman"></add>
    <add key="ChildTable" value="aquisitions"></add>
    <add key="ParentField" value="id"></add>
    <add key="ChildField" value="womanId"></add>
    <add key="Connection" value="Data Source=DESKTOP-5D3GS7E\SQLEXPRESS;Initial Catalog=shop;Integrated Security=True"/>


  </appSettings>
</configuration>