<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=DESKTOP-5D3GS7E\SQLEXPRESS;Initial Catalog=libs; Integrated Security = true"/>
  </connectionStrings>

  <appSettings>
    
    <add key="SelectParents" value="select * from Publisher"/>
    <add key="SelectChilds" value="select * from Book"/>
    <add key="ParentTable" value="Publisher"/>
    <add key="ChildTable" value="Book"/>
    <add key="FKNameParent" value="PId"/>
    <add key="FKNameChild" value="PId"/>
    <add key="FKConstraint" value="FK_DEVELOP_Task"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>